body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    
    width: 100%;
    min-height: 722px;
    padding: 30px;
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);

    .current-time {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 30px;
        font-family: 'Itim', cursive;
        h1 {
            font-family: 'Courgette', cursive;
            font-size: 50px;
        }

        #time {
            font-size: 70px;
        }

        #current-time-caption {
            font-size: 40px;
            font-family: 'Itim', cursive;
        }
    }

    .time-for-input{
        height: 35%;
        text-align: center;
        display: flex;
        flex-direction: column;
         align-items: center;
         justify-content: space-around;
        #my_time {
            margin: 20px;
            width: 200px;
            height: 30px;
            padding: 10px;
            border: 0px;
            border-bottom: 1px black solid;
            background-color: transparent;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.19);
        }
        #my_time:hover {
            cursor: pointer;

        }

        #my_time:focus {
            outline: none;
        }

        button {
            width: 200px;
            height: 50px;
            background-color: transparent;
            border: 1px black solid;
            font-family: 'Courgette', cursive;
            font-size: 17px;
            font-weight: 600;
            transition: 0.5s;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        button:focus {
            outline: none;
        }

        #my-time-print {
            margin: 10px;
            color: black;
            font-size: 20px;
            font-family: 'Itim', cursive;
        }
    }

}